**/.DS_Store

# React Router
**/.react-router/
**/build/

# Playwright
**/node_modules/
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

**/*.env*
# Local Netlify folder
.netlify

# Vite
**/dist